<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tbny.bhn.budget.helper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BudgetHelper"
            android:label="@string/title_activity_budget_helper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".BudgetCreator"></activity>
    </application>

</manifest>